.article {
  background: url('../assets/stable_earth/stable_earth.png') !important;
  background-size: cover !important;
  background-position: center !important;
}

.crew-title {
  display: block !important;
}
