.content {
  display: block !important;
  max-width: 100% !important;
  padding: 0;
}

.content__block {
  gap: 1rem;
}

.article {
  padding: 0 !important;
  overflow: hidden;
}

.padder {
  display: none;
}

.article .explore h1,
.article .explore h2 {
  display: block;
  border: 0;
  font-family: inherit;
}
