---
import Navbar from "../navbar/Navbar.astro";
import Y2k38Info from "../y2k38-info/Y2k38Info.astro";
---

<section class="home-section">
    <Navbar />
    <div class="home-section__content">
        <Y2k38Info />
        <slot />
    </div>
</section>

<style>
    .home-section {
        width: 100%;
        min-height: auto;
    }

    .home-section__content {
        padding: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }
</style>
